<div class="category_info">
    <include file="Public:catebut"/>
    <form action="{:U('authedit')}" method="post" class="clearfix" onsubmit="return Juuz.ajaxForm(this)">
        <input type="hidden" name="id" value="{$info.id}">
        <input type="hidden" name="level" value="{$info.level}">
        <switch name="info.level">
            <case value="1">
                <div class="ui_col_3">
                    <label class="ui_label">控制器标题 : </label>
                    <input class="ui_text_input" type="text" name="title" value="{$info.title}" data-opt='{
                    type : "require",
                    msg : "请输入控制器标题"
                }' />
                </div>
                <div class="ui_col_3">
                    <label class="ui_label">控制器名称 : </label>
                    <input class="ui_text_input" type="text" name="controller" value="{$info.controller}" data-opt='{
                    type : "require",
                    msg : "请输入控制器名称"
                }'/>
                </div>
                <div class="ui_col_5">
                    <label class="ui_label">控制器路径 : </label>
                    <input class="ui_text_input" type="text" disabled="disabled" name="name" value="{$info.name}" />
                </div>
                <div class="ui_col_2">
                    <label class="ui_label">序号(降序) : </label>
                    <input id="categorySort" class="ui_text_input" type="text" name="sort" value="<empty name='info.sort'>99<else/>{$info.sort}</empty>"  data-opt='{
                    type : "require number",
                    msg : "请输入排序序号 排序序号只能为数字"
                }'/>
                </div>
                <div class="ui_col_10 mt20">
                    <button type="submit" id="categoryBtSave" class="ui_button medium r3">保 存</button>
                </div>
            </case>
            <case value="2">
                <div class="ui_col_3">
                    <label class="ui_label">方法标题 : </label>
                    <input class="ui_text_input" type="text" name="title" value="{$info.title}" data-opt='{
                        type : "require",
                        msg : "请输入方法标题"
                    }'/>
                </div>
                <div class="ui_col_3">
                    <label class="ui_label">方法名称 : </label>
                    <input class="ui_text_input" type="text" name="method" value="{$info.method}" data-opt='{
                        type : "require",
                        msg : "请输入方法名称"
                    }'/>
                </div>
                <div class="ui_col_5">
                    <label class="ui_label">方法路径 : </label>
                    <input class="ui_text_input" type="text" disabled="disabled" name="name" value="{$info.name}" />
                </div>
                <div class="ui_col_2">
                    <label class="ui_label">序号(降序) : </label>
                    <input id="categorySort" class="ui_text_input" type="text" name="sort" value="<empty name='info.sort'>99<else/>{$info.sort}</empty>"  data-opt='{
                    type : "require number",
                    msg : "请输入排序序号 排序序号只能为数字"
                }'/>
                </div>
                <div class="ui_col_4">
                    <label class="ui_label">是否菜单</label>
                    <label class="ui_radio">
                        <input type="radio"  value="0" name="is_menu" <eq name="info.is_menu" value="0">checked="checked"</eq>/>菜单
                    </label>
                    <label class="ui_radio">
                        <input type="radio" value="1" name="is_menu" <eq name="info.is_menu" value="1">checked="checked"</eq>/>非菜单
                    </label>
                </div>
                <div class="ui_col_10 mt20">
                    <button type="submit" id="categoryBtSave" class="ui_button medium r3">保 存</button>
                </div>
            </case>
            <default />
                <eq name="info.id" value="">
                    <div class="ui_col_3">
                        <label class="ui_label">顶级模块 : </label>
                        <input id="categoryTitle" class="ui_text_input" type="text" disabled="disabled" value="权限分组"/>
                    </div>
                <else/>
                    <div class="ui_col_3">
                        <label class="ui_label">模块标题 : </label>
                        <input class="ui_text_input" type="text" name="title" value="{$info.title}" data-opt='{
                    type : "require",
                    msg : "请输入模块标题"
                }'/>
                    </div>
                    <div class="ui_col_3">
                        <label class="ui_label">模块名称 : </label>
                        <input class="ui_text_input" type="text" name="module" value="{$info.module}"  data-opt='{
                    type : "require",
                    msg : "请输入模块名称"
                }'/>
                    </div>
                    <div class="ui_col_5">
                        <label class="ui_label">模块路径 : </label>
                        <input class="ui_text_input" type="text" disabled="disabled" name="name" value="{$info.name}" />
                    </div>
                    <div class="ui_col_2">
                        <label class="ui_label">序号(降序) : </label>
                        <input id="categorySort" class="ui_text_input" type="text" name="sort" value="<empty name='info.sort'>99<else/>{$info.sort}</empty>"  data-opt='{
                    type : "require number",
                    msg : "请输入排序序号 排序序号只能为数字"
                }'/>
                    </div>
                    <div class="ui_col_10 mt20">
                        <button type="submit" id="categoryBtSave" class="ui_button medium r3">保 存</button>
                    </div>
                </eq>
        </switch>
    </form>
</div>