@charset "UTF-8";
/** 列宽 **/
/**颜色**/
/** 页面布局 **/
.ui_col_24 {
  float: left;
  width: 960px;
}
.ui_col_24 input,
.ui_col_24 textarea {
  width: 938px;
}
.ui_col_24 input.ui_button {
  width: auto;
}
.ui_col_24 input.js_find_back {
  width: 908px;
}
.ui_col_24 input.js_find_search {
  width: 908px;
}
.ui_col_24 input.js_color_input {
  width: 850px;
}
.ui_col_24 textarea.editor {
  width: 948px;
}
.ui_col_24 textarea.kindEditor {
  width: 950px;
}
.ui_col_24 .ui_select_input {
  width: 948px;
}
.ui_col_23 {
  float: left;
  width: 920px;
}
.ui_col_23 input,
.ui_col_23 textarea {
  width: 898px;
}
.ui_col_23 input.ui_button {
  width: auto;
}
.ui_col_23 input.js_find_back {
  width: 868px;
}
.ui_col_23 input.js_find_search {
  width: 868px;
}
.ui_col_23 input.js_color_input {
  width: 810px;
}
.ui_col_23 textarea.editor {
  width: 908px;
}
.ui_col_23 textarea.kindEditor {
  width: 910px;
}
.ui_col_23 .ui_select_input {
  width: 908px;
}
.ui_col_22 {
  float: left;
  width: 880px;
}
.ui_col_22 input,
.ui_col_22 textarea {
  width: 858px;
}
.ui_col_22 input.ui_button {
  width: auto;
}
.ui_col_22 input.js_find_back {
  width: 828px;
}
.ui_col_22 input.js_find_search {
  width: 828px;
}
.ui_col_22 input.js_color_input {
  width: 770px;
}
.ui_col_22 textarea.editor {
  width: 868px;
}
.ui_col_22 textarea.kindEditor {
  width: 870px;
}
.ui_col_22 .ui_select_input {
  width: 868px;
}
.ui_col_21 {
  float: left;
  width: 840px;
}
.ui_col_21 input,
.ui_col_21 textarea {
  width: 818px;
}
.ui_col_21 input.ui_button {
  width: auto;
}
.ui_col_21 input.js_find_back {
  width: 788px;
}
.ui_col_21 input.js_find_search {
  width: 788px;
}
.ui_col_21 input.js_color_input {
  width: 730px;
}
.ui_col_21 textarea.editor {
  width: 828px;
}
.ui_col_21 textarea.kindEditor {
  width: 830px;
}
.ui_col_21 .ui_select_input {
  width: 828px;
}
.ui_col_20 {
  float: left;
  width: 800px;
}
.ui_col_20 input,
.ui_col_20 textarea {
  width: 778px;
}
.ui_col_20 input.ui_button {
  width: auto;
}
.ui_col_20 input.js_find_back {
  width: 748px;
}
.ui_col_20 input.js_find_search {
  width: 748px;
}
.ui_col_20 input.js_color_input {
  width: 690px;
}
.ui_col_20 textarea.editor {
  width: 788px;
}
.ui_col_20 textarea.kindEditor {
  width: 790px;
}
.ui_col_20 .ui_select_input {
  width: 788px;
}
.ui_col_19 {
  float: left;
  width: 760px;
}
.ui_col_19 input,
.ui_col_19 textarea {
  width: 738px;
}
.ui_col_19 input.ui_button {
  width: auto;
}
.ui_col_19 input.js_find_back {
  width: 708px;
}
.ui_col_19 input.js_find_search {
  width: 708px;
}
.ui_col_19 input.js_color_input {
  width: 650px;
}
.ui_col_19 textarea.editor {
  width: 748px;
}
.ui_col_19 textarea.kindEditor {
  width: 750px;
}
.ui_col_19 .ui_select_input {
  width: 748px;
}
.ui_col_18 {
  float: left;
  width: 720px;
}
.ui_col_18 input,
.ui_col_18 textarea {
  width: 698px;
}
.ui_col_18 input.ui_button {
  width: auto;
}
.ui_col_18 input.js_find_back {
  width: 668px;
}
.ui_col_18 input.js_find_search {
  width: 668px;
}
.ui_col_18 input.js_color_input {
  width: 610px;
}
.ui_col_18 textarea.editor {
  width: 708px;
}
.ui_col_18 textarea.kindEditor {
  width: 710px;
}
.ui_col_18 .ui_select_input {
  width: 708px;
}
.ui_col_17 {
  float: left;
  width: 680px;
}
.ui_col_17 input,
.ui_col_17 textarea {
  width: 658px;
}
.ui_col_17 input.ui_button {
  width: auto;
}
.ui_col_17 input.js_find_back {
  width: 628px;
}
.ui_col_17 input.js_find_search {
  width: 628px;
}
.ui_col_17 input.js_color_input {
  width: 570px;
}
.ui_col_17 textarea.editor {
  width: 668px;
}
.ui_col_17 textarea.kindEditor {
  width: 670px;
}
.ui_col_17 .ui_select_input {
  width: 668px;
}
.ui_col_16 {
  float: left;
  width: 640px;
}
.ui_col_16 input,
.ui_col_16 textarea {
  width: 618px;
}
.ui_col_16 input.ui_button {
  width: auto;
}
.ui_col_16 input.js_find_back {
  width: 588px;
}
.ui_col_16 input.js_find_search {
  width: 588px;
}
.ui_col_16 input.js_color_input {
  width: 530px;
}
.ui_col_16 textarea.editor {
  width: 628px;
}
.ui_col_16 textarea.kindEditor {
  width: 630px;
}
.ui_col_16 .ui_select_input {
  width: 628px;
}
.ui_col_15 {
  float: left;
  width: 600px;
}
.ui_col_15 input,
.ui_col_15 textarea {
  width: 578px;
}
.ui_col_15 input.ui_button {
  width: auto;
}
.ui_col_15 input.js_find_back {
  width: 548px;
}
.ui_col_15 input.js_find_search {
  width: 548px;
}
.ui_col_15 input.js_color_input {
  width: 490px;
}
.ui_col_15 textarea.editor {
  width: 588px;
}
.ui_col_15 textarea.kindEditor {
  width: 590px;
}
.ui_col_15 .ui_select_input {
  width: 588px;
}
.ui_col_14 {
  float: left;
  width: 560px;
}
.ui_col_14 input,
.ui_col_14 textarea {
  width: 538px;
}
.ui_col_14 input.ui_button {
  width: auto;
}
.ui_col_14 input.js_find_back {
  width: 508px;
}
.ui_col_14 input.js_find_search {
  width: 508px;
}
.ui_col_14 input.js_color_input {
  width: 450px;
}
.ui_col_14 textarea.editor {
  width: 548px;
}
.ui_col_14 textarea.kindEditor {
  width: 550px;
}
.ui_col_14 .ui_select_input {
  width: 548px;
}
.ui_col_13 {
  float: left;
  width: 520px;
}
.ui_col_13 input,
.ui_col_13 textarea {
  width: 498px;
}
.ui_col_13 input.ui_button {
  width: auto;
}
.ui_col_13 input.js_find_back {
  width: 468px;
}
.ui_col_13 input.js_find_search {
  width: 468px;
}
.ui_col_13 input.js_color_input {
  width: 410px;
}
.ui_col_13 textarea.editor {
  width: 508px;
}
.ui_col_13 textarea.kindEditor {
  width: 510px;
}
.ui_col_13 .ui_select_input {
  width: 508px;
}
.ui_col_12 {
  float: left;
  width: 480px;
}
.ui_col_12 input,
.ui_col_12 textarea {
  width: 458px;
}
.ui_col_12 input.ui_button {
  width: auto;
}
.ui_col_12 input.js_find_back {
  width: 428px;
}
.ui_col_12 input.js_find_search {
  width: 428px;
}
.ui_col_12 input.js_color_input {
  width: 370px;
}
.ui_col_12 textarea.editor {
  width: 468px;
}
.ui_col_12 textarea.kindEditor {
  width: 470px;
}
.ui_col_12 .ui_select_input {
  width: 468px;
}
.ui_col_11 {
  float: left;
  width: 440px;
}
.ui_col_11 input,
.ui_col_11 textarea {
  width: 418px;
}
.ui_col_11 input.ui_button {
  width: auto;
}
.ui_col_11 input.js_find_back {
  width: 388px;
}
.ui_col_11 input.js_find_search {
  width: 388px;
}
.ui_col_11 input.js_color_input {
  width: 330px;
}
.ui_col_11 textarea.editor {
  width: 428px;
}
.ui_col_11 textarea.kindEditor {
  width: 430px;
}
.ui_col_11 .ui_select_input {
  width: 428px;
}
.ui_col_10 {
  float: left;
  width: 400px;
}
.ui_col_10 input,
.ui_col_10 textarea {
  width: 378px;
}
.ui_col_10 input.ui_button {
  width: auto;
}
.ui_col_10 input.js_find_back {
  width: 348px;
}
.ui_col_10 input.js_find_search {
  width: 348px;
}
.ui_col_10 input.js_color_input {
  width: 290px;
}
.ui_col_10 textarea.editor {
  width: 388px;
}
.ui_col_10 textarea.kindEditor {
  width: 390px;
}
.ui_col_10 .ui_select_input {
  width: 388px;
}
.ui_col_9 {
  float: left;
  width: 360px;
}
.ui_col_9 input,
.ui_col_9 textarea {
  width: 338px;
}
.ui_col_9 input.ui_button {
  width: auto;
}
.ui_col_9 input.js_find_back {
  width: 308px;
}
.ui_col_9 input.js_find_search {
  width: 308px;
}
.ui_col_9 input.js_color_input {
  width: 250px;
}
.ui_col_9 textarea.editor {
  width: 348px;
}
.ui_col_9 textarea.kindEditor {
  width: 350px;
}
.ui_col_9 .ui_select_input {
  width: 348px;
}
.ui_col_8 {
  float: left;
  width: 320px;
}
.ui_col_8 input,
.ui_col_8 textarea {
  width: 298px;
}
.ui_col_8 input.ui_button {
  width: auto;
}
.ui_col_8 input.js_find_back {
  width: 268px;
}
.ui_col_8 input.js_find_search {
  width: 268px;
}
.ui_col_8 input.js_color_input {
  width: 210px;
}
.ui_col_8 textarea.editor {
  width: 308px;
}
.ui_col_8 textarea.kindEditor {
  width: 310px;
}
.ui_col_8 .ui_select_input {
  width: 308px;
}
.ui_col_7 {
  float: left;
  width: 280px;
}
.ui_col_7 input,
.ui_col_7 textarea {
  width: 258px;
}
.ui_col_7 input.ui_button {
  width: auto;
}
.ui_col_7 input.js_find_back {
  width: 228px;
}
.ui_col_7 input.js_find_search {
  width: 228px;
}
.ui_col_7 input.js_color_input {
  width: 170px;
}
.ui_col_7 textarea.editor {
  width: 268px;
}
.ui_col_7 textarea.kindEditor {
  width: 270px;
}
.ui_col_7 .ui_select_input {
  width: 268px;
}
.ui_col_6 {
  float: left;
  width: 240px;
}
.ui_col_6 input,
.ui_col_6 textarea {
  width: 218px;
}
.ui_col_6 input.ui_button {
  width: auto;
}
.ui_col_6 input.js_find_back {
  width: 188px;
}
.ui_col_6 input.js_find_search {
  width: 188px;
}
.ui_col_6 input.js_color_input {
  width: 130px;
}
.ui_col_6 textarea.editor {
  width: 228px;
}
.ui_col_6 textarea.kindEditor {
  width: 230px;
}
.ui_col_6 .ui_select_input {
  width: 228px;
}
.ui_col_5 {
  float: left;
  width: 200px;
}
.ui_col_5 input,
.ui_col_5 textarea {
  width: 178px;
}
.ui_col_5 input.ui_button {
  width: auto;
}
.ui_col_5 input.js_find_back {
  width: 148px;
}
.ui_col_5 input.js_find_search {
  width: 148px;
}
.ui_col_5 input.js_color_input {
  width: 90px;
}
.ui_col_5 textarea.editor {
  width: 188px;
}
.ui_col_5 textarea.kindEditor {
  width: 190px;
}
.ui_col_5 .ui_select_input {
  width: 188px;
}
.ui_col_4 {
  float: left;
  width: 160px;
}
.ui_col_4 input,
.ui_col_4 textarea {
  width: 138px;
}
.ui_col_4 input.ui_button {
  width: auto;
}
.ui_col_4 input.js_find_back {
  width: 108px;
}
.ui_col_4 input.js_find_search {
  width: 108px;
}
.ui_col_4 input.js_color_input {
  width: 50px;
}
.ui_col_4 textarea.editor {
  width: 148px;
}
.ui_col_4 textarea.kindEditor {
  width: 150px;
}
.ui_col_4 .ui_select_input {
  width: 148px;
}
.ui_col_3 {
  float: left;
  width: 120px;
}
.ui_col_3 input,
.ui_col_3 textarea {
  width: 98px;
}
.ui_col_3 input.ui_button {
  width: auto;
}
.ui_col_3 input.js_find_back {
  width: 68px;
}
.ui_col_3 input.js_find_search {
  width: 68px;
}
.ui_col_3 input.js_color_input {
  width: 10px;
}
.ui_col_3 textarea.editor {
  width: 108px;
}
.ui_col_3 textarea.kindEditor {
  width: 110px;
}
.ui_col_3 .ui_select_input {
  width: 108px;
}
.ui_col_2 {
  float: left;
  width: 80px;
}
.ui_col_2 input,
.ui_col_2 textarea {
  width: 58px;
}
.ui_col_2 input.ui_button {
  width: auto;
}
.ui_col_2 input.js_find_back {
  width: 28px;
}
.ui_col_2 input.js_find_search {
  width: 28px;
}
.ui_col_2 input.js_color_input {
  width: -30px;
}
.ui_col_2 textarea.editor {
  width: 68px;
}
.ui_col_2 textarea.kindEditor {
  width: 70px;
}
.ui_col_2 .ui_select_input {
  width: 68px;
}
.ui_col_1 {
  float: left;
  width: 40px;
}
.ui_col_1 input,
.ui_col_1 textarea {
  width: 18px;
}
.ui_col_1 input.ui_button {
  width: auto;
}
.ui_col_1 input.js_find_back {
  width: -12px;
}
.ui_col_1 input.js_find_search {
  width: -12px;
}
.ui_col_1 input.js_color_input {
  width: -70px;
}
.ui_col_1 textarea.editor {
  width: 28px;
}
.ui_col_1 textarea.kindEditor {
  width: 30px;
}
.ui_col_1 .ui_select_input {
  width: 28px;
}
.ui_label {
  display: block;
  font-size: 12px;
  color: #333;
  line-height: 22px;
  padding: 10px 0 6px;
}
a:link {
  color: #076eb8;
}
a:visited {
  color: #076eb8;
}
a:hover {
  color: #ff6600;
}
a:active {
  color: #ff6600;
}
a.ui_button {
  color: #ffffff;
}
body {
  font-family: arial, "Microsoft Yahei", Helvetica, "\5B8B\4F53", "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
/**登录页**/
#loginWarp {
  width: 100%;
  min-height: 100%;
  background: #fff;
}
#loginWarp .login_warp_main {
  height: 430px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -210px;
}
#loginWarp .login_warp_main .login_head {
  width: 350px;
  height: 80px;
  margin: auto;
}
#loginWarp .login_warp_main .login_head img {
  width: 225px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
}
#loginWarp .login_warp_main .login_head span {
  font-size: 12px;
  color: #BEBEBE;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  line-height: 20px;
  height: 20px;
  margin: 38px 0 0 20px;
}
#loginWarp .login_warp_main .login_content {
  width: 100%;
  height: 346px;
  background: #222;
  /* background: url(Images/login_bg.jpg) repeat-x; */
}
#loginWarp .login_warp_main .login_content .login_form {
  width: 350px;
  height: 346px;
  margin: auto;
  position: relative;
}
#loginWarp .login_warp_main .login_content .login_form .login_jiantou {
  width: 24px;
  height: 12px;
  display: block;
  position: absolute;
  background: url(Images/login_jiantou.png);
  left: 100px;
  margin-top: -12px;
  overflow: hidden;
}
#loginWarp .login_warp_main .login_content .login_form form {
  padding-top: 63px;
}
#loginWarp .login_warp_main .login_content .login_form .login_username {
  width: 100%;
  height: 32px;
  position: relative;
}
#loginWarp .login_warp_main .login_content .login_form .login_username img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  left: 2px;
}
#loginWarp .login_warp_main .login_content .login_form .login_username input {
  width: 310px;
  height: 30px;
  margin: 0;
  padding: 0 6px 0 32px;
  border: 1px solid #D0D0D2;
  background: #fff!important;
  *line-height: 30px;
  line-height: 30px\0;
}
#loginWarp .login_warp_main .login_content .login_form .login_password {
  width: 100%;
  height: 32px;
  position: relative;
  margin-top: 30px;
}
#loginWarp .login_warp_main .login_content .login_form .login_password img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  left: 2px;
}
#loginWarp .login_warp_main .login_content .login_form .login_password input {
  width: 310px;
  height: 30px;
  margin: 0;
  padding: 0 6px 0 32px;
  border: 1px solid #D0D0D2;
  background: #fff!important;
  *line-height: 30px;
  line-height: 30px\0;
}
#loginWarp .login_warp_main .login_content .login_form .login_code {
  width: 100%;
  height: 32px;
  position: relative;
  margin-top: 30px;
  text-align: left;
}
#loginWarp .login_warp_main .login_content .login_form .login_code i {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  left: 2px;
}
#loginWarp .login_warp_main .login_content .login_form .login_code i img {
  width: 100%;
  height: 100%;
}
#loginWarp .login_warp_main .login_content .login_form .login_code input {
  width: 200px;
  height: 30px;
  margin: 0;
  padding: 0 6px 0 32px;
  border: 1px solid #D0D0D2;
  background: #fff!important;
  *line-height: 30px;
  line-height: 30px\0;
}
#loginWarp .login_warp_main .login_content .login_form .login_code .code_img {
  width: 100px;
  height: 32px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
#loginWarp .login_warp_main .login_content .login_form .login_bt_submit {
  width: 350px;
  height: 34px;
  background: #1265E0;
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 10px;
}
#loginWarp .login_warp_main .login_content .login_form .login_bt_submit:hover {
  background: #e7a820;
}
/** 头部 **/
#header {
  position: relative;
  min-width: 1200px;
  background-color: #FFF;
  border-top: 2px solid #076eb8;
  border-bottom: 1px solid #d9dadc;
}
#header .head_box {
  *zoom: 1;
  height: 50px;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
#header .logo {
  float: left;
  font-size: 24px;
  padding-top: 5px;
}
#header .logo a {
  display: block;
  height: 40px;
  overflow: hidden;
  text-decoration: none;
  line-height: 0;
  font-size: 0;
}
#header .logo a img {
  height: 40px;
}
#header .account {
  float: right;
  font-size: 0;
  height: 24px;
  color: #fff;
  padding: 0 25px;
  background: #076eb8;
  position: relative;
  line-height: 22px;
}
#header .account .account_bg_left {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(Images/head_account_left_bg.png) no-repeat;
}
#header .account .account_bg_right {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(Images/head_account_right_bg.png) no-repeat;
}
#header .account .account_welcom {
  border-right: 1px solid #fff;
  padding-right: 10px;
  font-size: 12px;
}
#header .account .account_welcom strong {
  font-weight: 400;
}
#header .account a {
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 12px;
}
#header .account a.account_update {
  padding: 0 10px;
  border-right: 1px solid #fff;
}
#header .account a.account_logout {
  padding-left: 10px;
}
#header .account a:hover {
  color: #3c9adc;
}
#header .head_menu {
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: 220px;
  top: 0;
  font-size: 0;
}
#header .head_menu a {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 10px;
  padding: 0 16px;
  position: relative;
}
#header .head_menu a:hover,
#header .head_menu a.selected {
  background: #076eb8;
  color: #fff;
}
/** 主体 **/
.body {
  text-align: left;
  width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}
.body .inner {
  border: 1px solid #E7E7EB;
  background: #FFF;
}
/** 左侧栏菜单 **/
.col_side {
  width: 207px;
  border-right: 1px solid #E7E8EB;
  float: left;
  position: relative;
}
.col_side .menu_box {
  padding-bottom: 70px;
}
.col_side .menu {
  padding: 16px 0 0;
  border-top: 1px solid #E7E8EB;
}
.col_side .menu.first {
  border-top: 0;
}
.col_side .menu_title {
  position: relative;
  padding: 0 30px;
  height: 34px;
  line-height: 34px;
  color: #8d8d8d;
}
.col_side .icon_menu {
  font-size: 0;
  width: 18px;
  height: 18px;
  padding: 0 5px 5px 5px;
  vertical-align: middle;
  display: inline-block;
}
.col_side .icon_menu img {
  float: left;
  width: 100%;
  vertical-align: top;
}
.col_side .menu_item {
  line-height: 34px;
}
.col_side .menu_item a {
  display: block;
  padding: 0 0 0 63px;
  overflow: hidden;
  color: #333;
}
.col_side .menu_item a:hover {
  background: #F4F5F9;
}
.col_side .menu_item.active a {
  background: #076eb8;
  color: #FFF;
}
.col_side .menu_bottom {
  width: 100%;
  padding: 10px 0 20px;
  position: absolute;
  bottom: 0;
}
.col_side .menu_bottom .version {
  font-size: 12px;
  line-height: 14px;
  padding: 8px 10px 0 16px;
  color: #999;
}
.col_side .menu_bottom .links {
  padding: 0 10px;
}
.col_side .menu_bottom .links_item {
  border-left: 1px solid #ddd;
  height: 14px;
  line-height: 14px;
}
.col_side .menu_bottom .links_item.first {
  border-left: 0;
}
.col_side .menu_bottom .links_item a {
  padding: 0 6px;
}
/** 右侧内容 **/
.col_main {
  width: 990px;
  float: left;
}
.col_main .main_hd h2 {
  font-size: 16px;
  padding: 14px 30px 8px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
}
.col_main .title_tab {
  position: relative;
}
.col_main .tab_ul {
  position: relative;
  height: 38px;
  z-index: 20;
  border-bottom: 1px solid #E7E8EB;
}
.col_main .tab_ul a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  padding: 5px 20px;
  color: #333;
}
.col_main .tab_ul .selected a {
  border-bottom: 1px solid #076eb8;
}
.col_main .tab_navs {
  position: absolute;
  height: 38px;
  top: 0;
  right: 15px;
  z-index: 30;
}
.col_main .tab_navs .search_box input {
  margin: 0;
  padding: 5px 30px 5px 5px;
  border: 1px solid #eaeaea;
  width: 200px;
  height: 16px;
  line-height: 16px\0;
  *line-height: 16px;
  color: #333;
  font-size: 12px;
}
.col_main .tab_navs .search_box input.focus {
  border-color: #9dd0ff;
}
.col_main .tab_navs .btn_search_submit {
  width: 30px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #fff;
  z-index: 9;
  border: 0;
  background: url(Images/search_img.png) no-repeat center center;
}
.col_main .main_bd {
  padding: 15px;
}
.col_main .main_bd_top {
  padding-bottom: 15px;
}
.col_main .tab_caozuo {
  float: right;
  text-align: right;
  border-right: 1px solid #E7E8EB;
}
.col_main .tab_caozuo li {
  border: 1px solid #E7E8EB;
  border-right: 0;
}
.col_main .tab_caozuo a {
  display: block;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
  color: #999;
  letter-spacing: 2px;
}
.col_main .tab_caozuo a:hover {
  color: #333;
}
.col_main .search_condition {
  float: left;
  height: 26px;
  min-height: 26px;
}
.col_main .search_condition .ui_text_input {
  min-width: 180px;
}
.col_main .search_condition .js_list_find {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-left: 10px;
  height: 26px;
  padding: 0 15px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  line-height: 26px;
  font-size: 13px;
  color: #fff;
  background: #076eb8;
  letter-spacing: 2px;
}
.col_main .search_condition .js_list_find:hover {
  background: #ff6600;
}
/** 平台介绍 **/
.system_info {
  padding: 10px;
  font-size: 0;
}
.system_info h2 {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 0 6px;
}
.system_info a {
  position: relative;
  width: 200px;
  margin: 0 30px 20px 0;
  padding-left: 68px;
  color: #333;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  font-size: 14px;
}
.system_info a i {
  width: 68px;
  height: 68px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.system_info a i.icon_user {
  background: #42a1c4 url(Images/system_img_1.png) no-repeat center center;
}
.system_info a i.icon_slide_show {
  background: #42a1c4 url(Images/system_img_2.png) no-repeat center center;
}
.system_info a i.icon_category {
  background: #42a1c4 url(Images/system_img_3.png) no-repeat center center;
}
.system_info a i.icon_case {
  background: #42a1c4 url(Images/system_img_4.png) no-repeat center center;
}
.system_info a i.icon_article {
  background: #42a1c4 url(Images/system_img_5.png) no-repeat center center;
}
.system_info a i.icon_youqing {
  background: #42a1c4 url(Images/system_img_6.png) no-repeat center center;
}
.system_info a i.icon_message {
  background: #42a1c4 url(Images/system_img_7.png) no-repeat center center;
}
.system_info a i.icon_site {
  background: #42a1c4 url(Images/system_img_8.png) no-repeat center center;
}
.system_info a span {
  height: 66px;
  line-height: 66px;
  border: 1px solid #e7e8eb;
  border-width: 1px 1px 1px 0;
  padding-left: 15px;
  cursor: pointer;
  display: block;
}
.system_info a:hover {
  background-color: #f4f5f9;
}
/** 分类（微信菜单） **/
.category_wrap {
  border: 1px solid #E7E8EB;
  background: url(Images/border_1px.jpg) repeat-y 227px 0;
}
.category_wrap .category_left {
  float: left;
  width: 228px;
  min-height: 500px;
}
.category_wrap .category_right {
  float: right;
  width: 730px;
}
.category_wrap h2 {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  background: #f4f5f9;
  border-bottom: 1px solid #e7e8eb;
  padding: 0 15px;
  line-height: 35px;
}
.category_wrap h2.border_r {
  background: #f4f5f9 url(Images/border_1px.jpg) repeat-y 227px 0;
}
.category_wrap .category_main {
  padding: 20px;
}
.category_wrap .category_main .category_tips {
  font-size: 14px;
  color: #333;
  position: relative;
}
.category_wrap .category_main .category_tools {
  text-align: right;
  font-size: 12px;
  border-right: 1px solid #E7E8EB;
}
.category_wrap .category_main .category_tools li {
  border: 1px solid #E7E8EB;
  border-right: 0;
}
.category_wrap .category_main .category_tools a {
  display: block;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
  color: #999;
  letter-spacing: 2px;
}
.category_wrap .category_main .category_tools a:hover {
  color: #333;
}
.category_wrap .category_main form {
  margin-top: 15px;
  border-top: 1px solid #e7e8eb;
  padding-top: 20px;
}
/** 商品规格 **/
.goods_spec {
  padding-right: 10px;
}
.goods_spec .no_spec {
  background: #f6f6f6;
  text-align: center;
  padding: 30px 0;
  border: 1px solid #ddd;
  border-bottom: 0;
}
.goods_spec .no_spec .desc {
  font-size: 12px;
  color: #666;
  line-height: 18px;
  margin-top: 10px;
}
.goods_spec .has_spec {
  padding: 0;
  border: 1px solid #ddd;
  border-top: 0;
}
.goods_spec .has_spec .desc {
  font-size: 12px;
  color: #666;
  line-height: 18px;
  padding: 10px;
}
.goods_spec .has_spec .spec_hd {
  background: #f8f8f8;
  padding: 10px 0 10px 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.goods_spec .has_spec .spec_hd .title {
  font-size: 12px;
  color: #333;
  line-height: 25px;
  display: block;
}
.goods_spec .has_spec .spec_hd input {
  font-size: 12px;
  text-align: center;
}
.goods_spec .has_spec .spec_bd {
  text-align: center;
  padding-left: 5px;
}
.goods_spec .has_spec .spec_bd .btn_del {
  font-size: 12px;
  height: 27px;
  line-height: 27px;
}
.goods_spec .has_spec .spec_bd input {
  text-align: center;
}
.goods_spec .has_spec .spec_bd .spec_item {
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
}
.goods_spec .has_spec .spec_bd .spec_item li span {
  font-size: 12px;
  color: #999;
  height: 27px;
  line-height: 27px;
}
.goods_spec .has_spec .btn_add {
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/** 权限 **/
.quanxian_wrap {
  border: 1px solid #e7e8eb;
  background: url(Images/border_1px.jpg) repeat-y 720px 0;
}
.quanxian_wrap .quanxian_list {
  padding-bottom: 40px;
}
.quanxian_wrap .quanxian_list table {
  width: 100%;
  table-layout: fixed;
  border: 0;
  border-cellspacing: none;
  border-collapse: collapse;
}
.quanxian_wrap .quanxian_list table thead {
  background: #f4f5f9;
}
.quanxian_wrap .quanxian_list table thead tr {
  height: 40px;
  overflow: hidden;
}
.quanxian_wrap .quanxian_list table thead tr th {
  text-align: center;
  padding: 0 10px;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  border-bottom: 1px solid #E7E8EB;
  vertical-align: middle;
}
.quanxian_wrap .quanxian_list table tbody tr {
  overflow: hidden;
}
.quanxian_wrap .quanxian_list table tbody tr td {
  padding: 10px;
  text-align: center;
  min-height: 30px;
  color: #666;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #E7E8EB;
  vertical-align: middle;
}
.quanxian_wrap .quanxian_list table tbody tr td img {
  max-height: 50px;
  vertical-align: middle;
}
.quanxian_wrap .quanxian_list table tbody tr td span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quanxian_wrap .quanxian_list table tbody tr td a {
  padding: 0 5px;
  font-size: 12px;
}
.quanxian_wrap .quanxian_list table tbody tr.active {
  background: #f9f9f9;
}
.quanxian_wrap .list_tree {
  width: 238px;
  padding-bottom: 10px;
}
.quanxian_wrap .list_tree h2 {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  background: #f4f5f9;
  border-bottom: 1px solid #e7e8eb;
  padding: 0 15px;
  line-height: 40px;
  border-left: 1px solid #e7e8eb;
}
.quanxian_wrap .list_tree .tips {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.quanxian_wrap .list_tree .ui_button {
  display: none;
}
/** 列表 **/
.ui_list_wrap table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #E7E8EB;
  border-cellspacing: none;
  border-collapse: collapse;
}
.ui_list_wrap table thead {
  background: #f4f5f9;
}
.ui_list_wrap table thead tr {
  height: 40px;
  overflow: hidden;
}
.ui_list_wrap table thead tr th {
  text-align: center;
  padding: 0 10px;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid #E7E8EB;
  vertical-align: middle;
}
.ui_list_wrap table thead tr th.first {
  text-align: left;
  text-indent: 1em;
}
.ui_list_wrap table tbody tr td {
  padding: 10px;
  text-align: center;
  min-height: 30px;
  color: #666;
  font-size: 12px;
  white-space: nowrap;
  border-bottom: 1px solid #E7E8EB;
  vertical-align: middle;
}
.ui_list_wrap table tbody tr td.first {
  text-align: left;
}
.ui_list_wrap table tbody tr td img {
  max-height: 50px;
  vertical-align: middle;
}
.ui_list_wrap table tbody tr td span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui_list_wrap table tbody tr td a {
  padding: 0 5px;
  font-size: 12px;
}
.ui_list_wrap table tbody tr td .btn_caozuo {
  position: relative;
  font-style: normal;
  cursor: pointer;
  color: #076eb8;
  font-size: 12px;
}
.ui_list_wrap table tbody tr td .list_tools_menu {
  position: absolute;
  top: 18px;
  right: 0;
  z-index: 90;
  display: none;
  width: 100px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
}
.ui_list_wrap table tbody tr td .list_tools_menu li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}
.ui_list_wrap table tbody tr td .list_tools_menu li a {
  display: block;
}
.ui_list_wrap table tbody tr td .list_tools_menu li a:hover {
  background-color: #076eb8;
  color: #fff;
}
.ui_list_wrap table tfoot tr td {
  padding: 0;
  position: relative;
}
/** 分页 **/
.paging {
  padding: 5px;
  text-align: right;
  background: #f4f5f9;
  font-size: 0;
  *word-spacing: -1px;
}
.paging a,
.paging span {
  font-size: 12px;
  color: #000;
  padding: 4px 10px;
  border: 1px solid #E7E8EB;
  margin-left: -1px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.paging a:hover,
.paging span:hover {
  color: #274ebf;
}
.paging a.current,
.paging span.current,
.paging a.active,
.paging span.active {
  background-color: #274ebf;
  color: #fff;
  cursor: default;
}
.paging a.disable,
.paging span.disable {
  color: #999;
  cursor: default;
}
/** 按钮 **/
.ui_button {
  padding: 0 15px;
  margin: 0;
  border: 0;
  font-size: 14px;
  background-color: #076eb8;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *overflow: visible;
  text-align: center;
  box-sizing: content-box;
}
.ui_button:hover {
  background: #ff6600;
  color: #ffffff;
}
.ui_button.small {
  font-size: 12px;
  height: 27px;
  line-height: 27px;
}
.ui_button.medium {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  min-width: 40px;
}
.ui_button.large {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}
.ui_button.long {
  width: 300px;
}
.ui_button.bold {
  font-weight: 700;
}
/** 下拉框样式 **/
select.combox {
  display: none;
}
.ui_select_wrap {
  font-size: 0;
  *word-spacing: -1px;
}
.ui_combox {
  border: 1px solid #e7e8eb;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 10px 0 0;
  background: url(Images/select_btn.jpg) no-repeat right center;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
}
.ui_combox .ui_combox_txt {
  display: block;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
.ui_combox .ui_combox_list {
  position: absolute;
  left: -1px;
  border: 1px solid #e7e8eb;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
  display: none;
  background: #FFF;
}
.ui_combox .ui_combox_list a,
.ui_combox .ui_combox_list span {
  font-size: 12px;
  line-height: 25px;
  display: block;
  padding: 0 5px;
  color: #333;
  text-decoration: none;
}
.ui_combox .ui_combox_list .ui_combox_option:hover {
  background: #E3E3E3;
}
.ui_combox .ui_combox_list .ui_combox_option.selected {
  background: #EEE;
}
.ui_combox .ui_combox_list .disable {
  color: #bbb;
}
/** 文本框 **/
.ui_text_input {
  height: 25px;
  *line-height: 25px;
  line-height: 25px\0;
  margin: 0;
  padding: 0 5px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.ui_text_input.focus {
  border-color: #9dd0ff;
}
.ui_text_input.require {
  background: url(Images/require_icon.png) no-repeat right top;
}
.ui_text_input.readonly,
.ui_text_input.disabled {
  background-color: #f2f2f2;
  color: #999;
  border-color: #ddd;
}
.ui_text_input.title {
  background-image: url(Images/rule.png);
  background-repeat: no-repeat;
  background-position: 5px bottom;
}
/** 日期框 **/
.Wdate {
  border: 1px solid #ddd;
  padding: 4px 5px;
  margin: 0;
  width: 174px;
}
.Wdate.last {
  margin: 0;
}
/** 文本域 **/
.ui_textarea {
  height: 100px;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 0;
  resize: none;
  font-size: 12px;
  vertical-align: top;
}
.ui_textarea.focus {
  border-color: #9dd0ff;
}
.ui_textarea.require {
  background: url(Images/require_icon.png) no-repeat right top;
}
.ui_textarea.readonly,
.ui_textarea.disabled {
  background: #f2f2f2;
  color: #999;
  border-color: #ddd;
}
/** 内容编辑框 **/
textarea.editor {
  border: 1px solid #e7e8eb;
  margin-top: 5px;
}
.edui-container {
  border: 1px solid #E7E8EB;
  display: block;
}
.edui-container .edui-editor-body img {
  max-width: 100%;
  vertical-align: top;
}
.edui-container .edui-editor-body span,
.edui-container .edui-editor-body p,
.edui-container .edui-editor-body div {
  white-space: normal!important;
}
/** 获取颜色（输入） **/
.ui_color_input {
  height: 27px;
}
.ui_color_input i {
  width: 35px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-style: normal;
  border: 1px solid #e7e8eb;
  color: #888;
}
.ui_color_input input {
  border: 0;
  border: 1px solid #e7e8eb;
}
.ui_color_input span {
  width: 50px;
  height: 25px;
  border: 1px solid #e7e8eb;
}
/** 获取颜色（选择） **/
.ui_color_select .minicolors-input {
  height: 25px;
  *line-height: 25px;
  line-height: 25px\0;
  margin: 0;
  padding: 0 5px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.ui_color_select .minicolors-swatch {
  border: 0;
}
.ui_color_select .minicolors-swatch .minicolors-swatch-color {
  width: 18px;
  height: 18px;
  border: 1px solid #eee;
}
/** 单选按钮 **/
.ui_radio {
  display: inline-block;
  vertical-align: top;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
  line-height: 15px;
  padding: 0 0 0 20px;
  font-size: 12px;
  overflow: hidden;
  margin: 6px 22px 6px 0;
  background: url(Images/icon_radio.png) no-repeat 0 0;
  *display: inline;
  *zoom: 1;
}
.ui_radio.selected {
  background-position: 0 -23px;
}
.ui_radio.last {
  margin: 0;
}
.ui_radio input {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  display: none;
}
/** 多选框样式 **/
.ui_checkbox_wrap .ui_checkbox {
  margin: 4px 25px 4px 0;
  vertical-align: top;
}
.ui_checkbox {
  display: inline-block;
  height: 18px;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  line-height: 18px;
  background: url(Images/icon_checkbox.png) no-repeat 0 -18px;
  padding: 0 0 0 18px;
  font-size: 12px;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-indent: 5px;
}
.ui_checkbox.selected {
  background-position: 0 -54px;
}
.ui_checkbox.last {
  margin: 0;
}
.ui_checkbox input {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  z-index: -1;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}
/** 地图获取经纬度 **/
.ui_map_wrap .map_warp_bd {
  position: relative;
  height: 400px;
  border: 1px solid #e7e8eb;
}
.ui_map_wrap .map_warp_bd .map_search {
  height: 35px;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 10;
  margin-right: 1px;
}
.ui_map_wrap .map_warp_bd .map_search input {
  width: 280px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid #E7E8EB;
  font-size: 12px;
  outline: 0;
  *line-height: 33px;
  line-height: 33px\0;
}
.ui_map_wrap .map_warp_bd .map_content {
  width: 100%;
  height: 100%;
}
.ui_map_wrap .map_warp_bd .map_result {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ui_map_wrap .map_warp_bd .map_result p {
  height: 30px;
  border: 1px solid #E7E8EB;
  line-height: 28px;
  padding: 0 10px;
  font-size: 14px;
  background-color: #eaeaea;
}
.ui_map_wrap .map_warp_bd .map_result p input {
  border: 1px solid #E7E8EB;
  font-size: 12px;
  height: 15px;
  padding: 2px 5px;
  line-height: 15px;
  width: 130px;
  outline: 0;
}
.tangram-suggestion-main {
  z-index: 19999;
}
.tangram-suggestion-main .tangram-suggestion {
  border-color: #E7E8EB;
}
.tangram-suggestion-main .tangram-suggestion-current {
  background: #44B549;
}
.tangram-suggestion-main table td {
  text-align: left;
  padding: 5px 10px;
}
/** 弹出框获取地图经纬度 **/
.ui_dialog_map_wrap {
  width: 435px;
  height: 30px;
  border: 1px solid #e7e8eb;
}
.ui_dialog_map_wrap .ui_lng_wrap,
.ui_dialog_map_wrap .ui_lat_wrap {
  width: 149px;
  height: 30px;
  font-size: 12px;
  color: #444;
  position: relative;
  padding-left: 50px;
  border-right: 1px solid #e7e8eb;
}
.ui_dialog_map_wrap .ui_lng_wrap span,
.ui_dialog_map_wrap .ui_lat_wrap span {
  position: absolute;
  width: 50px;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  text-align: center;
  border-right: 1px solid #e7e8eb;
}
.ui_dialog_map_wrap .ui_lng_wrap input,
.ui_dialog_map_wrap .ui_lat_wrap input {
  height: 30px;
  width: 128px;
  border: 0;
  padding: 0 10px;
  color: #999;
}
.ui_dialog_map_wrap .btn_map_dialog {
  width: 35px;
  height: 30px;
  background: url(Images/icon_add.png) no-repeat 8px 6px;
}
.ui_dialog_map_wrap .btn_map_dialog:hover {
  background: url(Images/icon_add.png) no-repeat 8px -22px;
}
/** 查找数据带回id **/
.ui_find_back {
  position: relative;
}
.ui_find_back .btn_find_back {
  width: 29px;
  height: 25px;
  background: url(Images/icon_add.png) no-repeat 5px 3px;
  position: absolute;
  top: 0;
  right: 10px;
  border: 1px solid #ddd;
  border-left: 0;
}
.ui_find_back .btn_find_back:hover {
  background: url(Images/icon_add.png) no-repeat 5px -25px;
}
/** 图片上传样式 **/
.upload_img_wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.upload_img_wrap .js_upload_preview {
  position: relative;
  background: #ECECEC;
}
.upload_img_wrap .js_upload_preview p {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #c0c0c0;
}
.upload_img_wrap .js_upload_preview p img {
  width: 100%;
  height: 100%;
}
.upload_img_wrap .js_upload_preview .js_upload_cancel {
  width: 15px;
  height: 15px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #999;
  z-index: 10;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.upload_img_wrap .js_upload_preview .js_upload_cancel:hover {
  background-position: 0 -15px;
}
.upload_img_wrap .js_upload_preview .js_btn_cancel {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #999;
  z-index: 10;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.upload_img_wrap .js_upload_preview .js_btn_cancel:hover {
  background-position: 0 -15px;
}
.upload_img_wrap .js_upload_box {
  position: relative;
  z-index: 30;
  margin-top: 10px;
  border: 1px solid #e6e7ec;
}
.upload_img_wrap .js_upload_box .js_btn_upload {
  display: block;
  padding: 4px 10px;
  line-height: 20px;
  font-size: 14px;
  color: #222;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
}
.upload_img_wrap .js_upload_box object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: 1;
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}
.upload_img_wrap .js_upload_box .js_upload_progress {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  background-color: #fff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressWrapper.green .progressBarStatus {
  color: #fff;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressWrapper.blue .progressBarStatus {
  color: #fff;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressWrapper.red .progressBarStatus {
  color: red;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressWrapper.red .progressBarError {
  background-color: #fff;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressCancel,
.upload_img_wrap .js_upload_box .js_upload_progress .progressName,
.upload_img_wrap .js_upload_box .js_upload_progress .progressSize {
  display: none;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressBarInProgress,
.upload_img_wrap .js_upload_box .js_upload_progress .progressBarComplete,
.upload_img_wrap .js_upload_box .js_upload_progress .progressBarError {
  width: 100%;
  height: 100%;
  background-color: #E7E6EB;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressBarInProgressText {
  width: 0%;
  height: 100%;
  background-color: #aadd55;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressBarStatus {
  width: 100%;
  line-height: 20px;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 4px 0;
}
.upload_img_wrap .js_upload_box .js_upload_progress .progressContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/** 文件上传样式 **/
.upload_file_wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.upload_file_wrap .js_upload_preview {
  position: absolute;
  background: #ECECEC;
  top: 0;
  left: 0;
  z-index: 20;
}
.upload_file_wrap .js_upload_preview p {
  font-size: 12px;
  padding: 0 10px;
}
.upload_file_wrap .js_upload_preview .js_upload_cancel {
  width: 15px;
  height: 15px;
  display: none;
  position: absolute;
  top: 7px;
  right: 5px;
  background-color: #999;
  z-index: 10;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.upload_file_wrap .js_upload_preview .js_upload_cancel:hover {
  background-position: 0 -15px;
}
.upload_file_wrap .js_upload_preview .js_btn_cancel {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  right: 5px;
  background-color: #999;
  z-index: 10;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.upload_file_wrap .js_upload_preview .js_btn_cancel:hover {
  background-position: 0 -15px;
}
.upload_file_wrap .js_upload_box {
  position: relative;
  z-index: 30;
  border: 1px solid #e6e7ec;
}
.upload_file_wrap .js_upload_box .js_btn_upload {
  display: block;
  padding: 4px 10px;
  line-height: 20px;
  font-size: 14px;
  color: #222;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
}
.upload_file_wrap .js_upload_box object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: 1;
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}
.upload_file_wrap .js_upload_box .js_upload_progress {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  background-color: #fff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressWrapper.green .progressBarStatus {
  color: #fff;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressWrapper.blue .progressBarStatus {
  color: #fff;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressWrapper.red .progressBarStatus {
  color: red;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressWrapper.red .progressBarError {
  background-color: #fff;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressCancel,
.upload_file_wrap .js_upload_box .js_upload_progress .progressName,
.upload_file_wrap .js_upload_box .js_upload_progress .progressSize {
  display: none;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressBarInProgress,
.upload_file_wrap .js_upload_box .js_upload_progress .progressBarComplete,
.upload_file_wrap .js_upload_box .js_upload_progress .progressBarError {
  width: 100%;
  height: 100%;
  background-color: #E7E6EB;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressBarInProgressText {
  width: 0%;
  height: 100%;
  background-color: #aadd55;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressBarStatus {
  width: 100%;
  line-height: 20px;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 4px 0;
}
.upload_file_wrap .js_upload_box .js_upload_progress .progressContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/** 组图上传样式 **/
.upload_group_wrap {
  border: 1px solid #E7E8EB;
  padding: 0 10px 10px 0;
}
.upload_group_wrap .upload_group_btn {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 10px;
  background: #efefef;
  border: 1px dashed #bbb;
}
.upload_group_wrap .upload_group_btn .upload_group_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10;
  color: #999;
  font-size: 12px;
}
.upload_group_wrap .upload_group_btn object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: 1;
  z-index: 30;
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
}
.upload_group_wrap .upload_group_btn:hover {
  border-color: #333;
}
.upload_group_wrap .upload_group_btn:hover .upload_group_text {
  color: #333;
}
.upload_group_wrap .upload_group_item {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 10px;
  border: 1px solid #44B549;
}
.upload_group_wrap .upload_group_item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.upload_group_wrap .upload_group_item .upload_group_fieldset {
  width: 100%;
  height: 100%;
  position: relative;
}
.upload_group_wrap .upload_group_item.error_item {
  border: 1px solid red;
}
.upload_group_wrap .upload_group_item.error_item .progressBarStatus {
  bottom: 50%;
  height: 20px;
  line-height: 20px;
  margin-bottom: -10px;
}
.upload_group_wrap .upload_group_item .progressName,
.upload_group_wrap .upload_group_item .progressSize {
  display: none;
}
.upload_group_wrap .upload_group_item .progressBarInProgress {
  width: 100%;
  height: 8px;
  background-color: #E7E6EB;
  position: absolute;
  bottom: 0;
  z-index: 30;
  overflow: hidden;
}
.upload_group_wrap .upload_group_item .progressBarInProgress .progressBarInProgressText {
  width: 0%;
  height: 100%;
  background-color: #44B549;
}
.upload_group_wrap .upload_group_item .progressBarStatus {
  width: 100%;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 15px;
  z-index: 30;
}
.upload_group_wrap .upload_group_item .progressCancel,
.upload_group_wrap .upload_group_item .js_group_btn_close {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #999;
  z-index: 30;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.upload_group_wrap .upload_group_item .progressCancel:hover,
.upload_group_wrap .upload_group_item .js_group_btn_close:hover {
  background-position: 0 -15px;
}
.upload_group_wrap .upload_group_item .progressWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.upload_group_wrap .upload_group_item .progressWrapper.green .progressBarStatus {
  color: #48AB34;
}
.upload_group_wrap .upload_group_item .progressWrapper.blue .progressBarStatus {
  color: #48AB34;
}
.upload_group_wrap .upload_group_item .progressWrapper.red .progressBarStatus {
  color: red;
}
/** 组图上传（带图片描述） **/
.ui_upload_imgitem {
  border: 1px solid #ddd;
}
.ui_upload_imgitem li {
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 10px;
}
.ui_upload_imgitem .img_wrap .js_upload_box {
  margin-top: -38px;
  border: 0;
  border-top: 1px solid #e6e7ec;
  border-bottom: 1px solid #e6e7ec;
}
.ui_upload_imgitem .img_wrap .js_upload_box .js_btn_upload {
  padding: 8px 10px;
  background: url(Images/white_opacity_80.png) repeat;
}
.ui_upload_imgitem .img_wrap .js_upload_box .js_upload_progress .progressBarStatus {
  padding: 8px 0;
}
.ui_upload_imgitem .img_desc {
  padding: 10px;
}
.ui_upload_imgitem .img_desc textarea {
  height: 80px;
  resize: none;
  font-size: 12px;
  color: #333;
  line-height: 18px;
}
.ui_upload_imgitem .li_tools {
  height: 30px;
  line-height: 30px;
  text-align: right;
  border-top: 1px solid #ddd;
  padding: 0 10px;
}
.ui_upload_imgitem .li_tools a {
  font-size: 12px;
  padding-left: 10px;
  color: #ccc;
}
.ui_upload_imgitem .li_tools a:hover {
  color: #333;
}
.ui_upload_imgitem .imgitem_tools {
  padding: 10px;
}
.ui_upload_imgitem .imgitem_tools .btn_add {
  display: block;
  height: 35px;
  border: 1px solid #eee;
  line-height: 35px;
  text-align: center;
}
.ui_upload_imgitem .imgitem_tools .btn_add:hover {
  border-color: #ddd;
}
/***自定义ArtDialog样式***/
.ui-dialog.ui_success {
  border-color: #0c0;
  box-shadow: none;
}
.ui-dialog.ui_error {
  border-color: #c00;
  box-shadow: none;
}
.ui-dialog.ui_tips {
  border-color: #00c;
  box-shadow: none;
}
.ui-dialog.ui_alert,
.ui-dialog.ui_confirm,
.ui-dialog.ui_pop_box {
  border-radius: 0;
  border-color: #E5E5E5;
  box-shadow: none;
}
.ui-dialog.ui_alert .ui-dialog-header,
.ui-dialog.ui_confirm .ui-dialog-header,
.ui-dialog.ui_pop_box .ui-dialog-header {
  background: #F4F5F9;
}
.ui-dialog.ui_alert .ui-dialog-header .ui-dialog-close,
.ui-dialog.ui_confirm .ui-dialog-header .ui-dialog-close,
.ui-dialog.ui_pop_box .ui-dialog-header .ui-dialog-close {
  top: 8px;
  right: 8px;
}
.ui-dialog.ui_alert .ui-dialog-title,
.ui-dialog.ui_confirm .ui-dialog-title,
.ui-dialog.ui_pop_box .ui-dialog-title {
  padding: 10px 15px;
  cursor: move;
}
.ui-dialog.ui_alert .ui-dialog-footer,
.ui-dialog.ui_confirm .ui-dialog-footer,
.ui-dialog.ui_pop_box .ui-dialog-footer {
  background: #F4F5F9;
  padding: 10px;
  border-top: 1px solid #E5E5E5;
}
.ui-dialog.ui_alert .ui-dialog-button button,
.ui-dialog.ui_confirm .ui-dialog-button button,
.ui-dialog.ui_pop_box .ui-dialog-button button {
  padding: 0 15px;
  line-height: 26px;
  height: 26px;
  background: #fcfcfc;
  color: #333;
  font-size: 12px;
  outline: 0;
  border: 1px solid #bababa;
  border-radius: 0;
}
.ui-dialog.ui_alert .ui-dialog-button button.ui-dialog-autofocus,
.ui-dialog.ui_confirm .ui-dialog-button button.ui-dialog-autofocus,
.ui-dialog.ui_pop_box .ui-dialog-button button.ui-dialog-autofocus {
  border-color: #bababa;
  color: #333;
}
.ui-dialog.ui_alert .ui-dialog-button button:hover,
.ui-dialog.ui_confirm .ui-dialog-button button:hover,
.ui-dialog.ui_pop_box .ui-dialog-button button:hover {
  background: #f7fafe;
  border-color: #3598fe;
  color: #333;
}
/** 同道编辑 **/
.tongdao_tree ul li a {
  padding-right: 20px;
}
.ui_select_input {
  position: relative;
}
.ui_select_input .select_val {
  min-height: 24px;
  border: 1px solid #ddd;
  padding: 10px 55px 5px 10px;
  font-size: 0;
}
.ui_select_input .select_val span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 5px 0;
  padding: 2px 16px 2px 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  color: #999;
  position: relative;
}
.ui_select_input .select_val span a {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 0;
  margin-top: -8px;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.ui_select_input .select_val span a:hover {
  background-position: 0 -15px;
}
.ui_select_input .btn_add {
  width: 50px;
  height: 100%;
  background: url(Images/select_input_add.png) no-repeat center center;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ddd;
}
.ui_select_input .btn_add:hover {
  background: url(Images/select_input_add_s.png) no-repeat center center;
}
.selectBox {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 2px solid #333;
  padding: 3px 5px;
  float: left;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.selectBox .selectBox_con {
  height: 20px;
}
.selectBox .selectBox_con span {
  float: left;
  line-height: 20px;
  font-size: 12px;
}
.selectBox .box_icon {
  min-width: 18px;
  height: 18px;
  margin: 0 3px;
  float: left;
  border: 1px #666666 solid;
}
.selectBox .add {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  padding: 0 6px;
}
.ui_category_label {
  position: relative;
}
.ui_category_label .cagegory_label {
  min-height: 24px;
  border: 1px solid #ddd;
  padding: 10px 55px 5px 10px;
  font-size: 0;
}
.ui_category_label .cagegory_label span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 5px 0;
  padding: 2px 16px 2px 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  color: #999;
  position: relative;
}
.ui_category_label .cagegory_label span a {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 0;
  margin-top: -8px;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
}
.ui_category_label .cagegory_label span a:hover {
  background-position: 0 -15px;
}
.ui_jcrop {
  padding: 0;
  border: 1px solid #ddd;
  min-height: 200px;
  position: relative;
}
.ui_jcrop .jcrop_img {
  position: relative;
}
.ui_jcrop .jcrop_img img {
  vertical-align: top;
}
.ui_jcrop .jcrop_img a {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #999;
  z-index: 30;
  background: url(Images/SWF_upload_bt_del.gif) no-repeat 0 0;
  z-index: 400;
}
.ui_jcrop .jcrop_img a:hover {
  background-position: 0 -15px;
}
.ui_jcrop .upload_file_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
}
.ui_jcrop .upload_file_wrap .js_upload_box .js_btn_upload {
  line-height: 40px;
}
.ui_jcrop .upload_file_wrap .js_upload_progress .progressBarStatus {
  line-height: 40px;
}
