<ul class="category_tools dib-wrap">
    <notempty name="info.butadd">
        <li class="dib">
            <a id="categoryBtAdd" href="javascript:void(0);" target="popDialog" data-opt="{$info['butadd']['data-opt']}">{$info['butadd']['title']}</a>
        </li>
    </notempty>
    <notempty name="info.butdel">
        <li class="dib">
            <a id="categoryBtDel" href="javascript:void(0);" target="ajaxDel" data-opt="{$info['butdel']['data-opt']}">{$info['butdel']['title']}</a>
        </li>
    </notempty>
    
</ul>