<div class="heade" id="header">
    <div class="head_box">
        <h1 class="logo">
            <a href="#" title="Juuz"><img src="__ADMINSTYLE__/Images/logo_header.png" /></a>
        </h1>
        <div class="account">
            <span class="account_bg_left"></span>
            <span class="account_bg_right"></span>
            <span class="account_welcom">当前用户：<strong>{$UserName}</strong></span>
            <a href="javascript:void(0);" class="account_update" target="popDialog" data-opt="{
                title: '修改密码',
                url: '{:U("Admin/Public/resetpwd")}',
                dataType: 'html'
            }">修改密码</a>
            <a href="{:U('Admin/Public/logout')}" class="account_logout">安全退出</a>
        </div>
        <div class="head_menu">
            <volist name="web_top_menu_url" id="vo">
                <a href="{$vo.url}" <eq name="Think.MODULE_NAME" value="$vo['module']">class='selected'</eq>>{$vo.title}</a>
            </volist>
        </div>
    </div>
</div>