<div class="category_info">
    <include file="Admin@Public:catebut"/>
     <form action="{:U('upcate')}" method="post" class="clearfix" onsubmit="return Juuz.ajaxForm(this)">
        <div class="ui_col_11">
            <div class="ui_col_2">
                <label class="ui_label">分类编号 : </label>
            <input id="categoryId" class="ui_text_input" readonly="readonly" type="text" name="id"  value="{$info.id}" />
            </div>
            <div class="ui_col_3">
                <label class="ui_label">分类名称 : </label>
                <input id="categoryName" class="ui_text_input" type="text" name="title" value="{$info.title}" data-opt='{
                    type : "require",
                    msg : "请输入分类名称"
                }' />
            </div>
			<div class="ui_col_3">
				<label class="ui_label">序号 : </label>
				<input id="categorySort" class="ui_text_input" type="text" name="sort" value="{$info.sort}" />
			</div>
			<div class="ui_col_3">
				<label class="ui_label">最高编号 : </label>
				<input id="categorySort" class="ui_text_input" type="text" readonly="readonly"  value="{$sortmax}" />
			</div>
        </div>
        <div class="ui_col_10 mt20">
            <button type="submit" id="categoryBtSave" class="ui_button medium r3">保 存</button>
        </div>
    </form>
</div>
