<style>
    .category_add_form{
        padding-bottom:42px;
    }
    .ui_pop_foot{
        background-color:#F4F5F9;border-top:1px solid #ddd;text-align:right;
        position:absolute;padding:8px 0;bottom:0;left:0;width:100%;
    }
</style>
<script>
    if(currentCategory){
        $('#categoryAddPid').val(currentCategory.id);
        $('#categoryAddPname').val(currentCategory.title);
    }
</script>
<form class="category_add_form clearfix" action="{:U('edit')}" method="post" onsubmit="return Juuz.ajaxForm(this);">
<div class="ui_col_10" style="padding:10px 20px 20px">
    <input id="categoryAddPid" type="hidden" name="pid" />
    <div class="ui_col_5">
        <div class="ui_col_5">
            <label class="ui_label">上级分类 : </label>
            <input id="categoryAddPname" class="ui_text_input" readonly="readonly" type="text" />
        </div>
    </div>
            <div class="ui_col_5">
                <label class="ui_label">分类名称 : </label>
                <input class="ui_text_input" type="text" name="title" data-opt='{
                    type : "require",
                    msg : "请输入分类名称"
                }' />
            </div>
            <div class="ui_col_3">
                <label class="ui_label">排序序号(倒序) : </label>
                <input class="ui_text_input" type="text" name="sort" value="99" data-opt='{
                    type : "require number",
                    msg : "请输入排序序号 排序序号只能为数字"
                }' />
            </div>
            <div class="ui_col_2">
                <label class="ui_label">最高排序 : </label>
                <input class="ui_text_input" type="text" value="{$info.maxsort}" readonly="readonly"/>
            </div>

</div>
<div class="ui_pop_foot">
    <button type="submit" class="ui_button small mr10">保 存</button>
</div>
</form>