body{ font:14px 'Microsoft YaHei'; background-color:#e9eef5;}

.wrapper{ padding:20px;}


/**module**/
.module-title{ height:45px; line-height:45px; color:#fff; background-color:#7e91b0; overflow:hidden;}
.module-title h2{ font-weight:normal; font-size:18px;}
.module-title i{ float:left; margin:13px 15px;}
.sprite{ float:left; background:url(../images/sprite.png) no-repeat; overflow:hidden;}

.icon-1{ width:21px; height:19px; background-position:-27px 0;}
.icon-2{ width:23px; height:23px; background-position:-57px 0; margin:10px 15px 0 0;}
.icon-3{ width:19px; height:18px; background-position:-88px 0;}

.bg-white{ background-color:#fff;}
.radius{ 
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
}



/*left*/
.left{ width:35%;}
.dropdown{ position:relative; z-index:33;}
.dropdown .drop-txt{ 
	position:relative;
	height:45px;
	line-height:45px;
	cursor:pointer;	
}

.dropdown .drop-txt,
.form-container,
.module-wrap{
	-webkit-box-shadow:1px 1px 1px #ddd;
	   -moz-box-shadow:1px 1px 1px #ddd;
	        box-shadow:1px 1px 1px #ddd;
}


.dropdown .drop-txt span{ display:block; font-size:18px; padding:0 15px; color:#394b61;}
.dropdown .drop-txt i{ position:absolute; right:15px; top:17px; width:22px; height:12px;}
.dropdown .drop-txt.on i{ background-position:0 -13px;}
.dropdown .drop-list{ position:absolute; left:0; z-index:33; top:95%; width:100%; background-color:#a8b9d3; max-height:320px; overflow-y:auto; display:none;}
.dropdown .drop-list li{ height:32px; line-height:32px; font-size:16px; padding:0 15px; color:#fff; cursor:pointer; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.dropdown .drop-list li:hover{ background-color:#89a1c8;}

/*form-container*/
.form-container{ overflow:hidden;}

.form-control{ height:42px; line-height:42px; overflow:hidden; position:relative;}

.form-control .form-cols{ width:46%; height:100%; position:relative;}
.form-control .form-cols label{ position:absolute; left:0; top:0; width:60px; font-size:15px; padding:0 15px; height:100%; color:#fff; height:100%; background-color:#7e91b0;}
.form-control .form-cols .form-txt{ position:absolute; left:100px; top:0; right:5px;}
.form-control .form-cols .form-txt input{ width:100%; height:22px; padding:10px 0; color:#394b61; border:none; background-color:transparent; *border:0; *margin-top:4px;}

.form-control .form-cols label{ 
	-webkit-border-radius:5px 0 0 5px;
	   -moz-border-radius:5px 0 0 5px;
	        border-radius:5px 0 0 5px;
}


.form-content{ padding:10px 30px 35px; overflow:hidden;}
.form-content .form-control{ background-color:#e9eef5; margin-top:25px;}
.form-content .form-control .form-cols{ width:100%;}
.form-content .form-control .form-cols label{width:130px; padding:0 15px;}
.form-content .form-control .form-cols .form-txt{ left:170px;}

.form-content .form-upload .form-cols .form-txt{ right:70px;}
.form-content .form-upload .form-cols .upload-btn{ position:absolute; right:0; top:0; width:60px; height:100%; background-color:#384B6C; border:none; *border:0; color:#fff; cursor:pointer;}
.form-content .form-upload .form-cols .upload-btn:hover{ background-color:#2B3C5A;}
.form-content .form-upload .form-cols .upload-file{ width:0; height:0; overflow:hidden; opacity:0; filter:alpha(opacity==0);}


.buttons{ text-align:center; padding:30px 0; overflow:hidden;}
.button{ min-width:120px; padding:0 20px; height:40px; line-height:40px; font-size:16px; margin:0 10px; text-align:center; border:none; color:#fff; background-color:#7ac9b2; cursor:pointer;}
.button:hover{ background-color:#68b69f;}
.button-default{ background-color:#39baea;}
.button-default:hover{ background-color:#38aad5;}


/*right*/
.right{ width:60%;}
.right .form-content{ padding:0;}
.right .form-content .form-control{ height:45px; line-height:45px; margin-top:0; background-color:#a8b9d3;}
.right .form-content .form-control input{ color:#fff;}
.module-wrap{ overflow:hidden;}
.json-code{ padding:30px; max-height:400px; overflow-y:auto;}
.json-result{ padding:20px 50px; background-color:#f4f7fb; overflow:hidden;}

.data-explain{ padding:30px; max-height:250px; overflow-y:auto;}
.data-table{ background-color:#f4f7fb; overflow:hidden;}
.data-table table{ width:100%; font-size:16px;}
.data-table table th{ font-weight:normal; color:#fff; background-color:#a8b9d3; }
.data-table table th,
.data-table table td{ border:1px solid #fff; padding:10px; text-align:center;}
.data-table table tr:hover{ background-color:#e9eef5;}
.data-table table tr td:nth-of-type(1){ width:15%; color:#f08dae;}
.data-table table tr td:nth-of-type(2){ width:15%; color:#90bff0;}
.data-table table tr td:nth-of-type(3){ width:25%; color:#75bea8;}
.data-table table tr td:nth-of-type(4){ width:45%; color:#8a9cba; text-align:left; padding:10px 20px;}
.data-table span{ display:block; font-size:20px; color:#555; padding:20px; text-align:center;}






