<style>
    .update_form{
        height:500px;
    }
    .ui_pop_foot{
        background-color:#F4F5F9;border-top:1px solid #ddd;text-align:right;
        position:absolute;padding:8px 0;bottom:0;left:0;width:100%;
    }
    .mysql_table_wrmp select {
        width: 60px;
        margin: 0 auto;
      /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
      border: solid 1px #ddd;
      /*很关键：将默认的select选择框样式清除*/
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;

      /*在选择框的最右侧中间显示小箭头图片*/
      /*为下拉小箭头留出一点位置，避免被文字覆盖*/
      padding: 3px 5px 4px 5px;
        display: block;
    font-size: 12px;
    cursor: pointer;
    }

    /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
    .mysql_table_wrmp select::-ms-expand { display: none; }
    .mysql_table_title{
        text-align: center;
        border-bottom: 1px #ddd solid;
        padding: 4px 0;
    }
    .mysql_table_title div{
        height: 25px;
        line-height: 25px;
    }
    .mysql_table_titles{
        padding:5px 0 5px 5px;
        border-bottom: 1px #ddd solid;
    }
    .mysql_table_titles div{
        line-height: 25px;
    }
    .ui_col_2{
        width: 72px;
    }
    .mysql_table_wrmp{
        clear: both;
        border-left: 1px #ddd solid;
        border-top: 1px #ddd solid;
        border-right: 1px #ddd solid;
        overflow:auto;
    }
  
    .mysql_table_top{
        margin-bottom: 10px;

    }
    .ui_buttons:hover{
        background: #E7E8EB;
        color: #999;
    }
    .ui_buttons{
        background: #E7E8EB;
        color: #999;
    }
    .ui_col_xuanzhe{
        padding:5px;
    }
    .ui_col_xuanzhe span{
        line-height: 25px;
        float: left;
        display: block;
    }
    .ui_col_xuanzhe {
        line-height: 25px;
    }
    .ui_col_xuanzhe .ui_checkbox{
       margin:0 4px;
    }
    .mysql_table_titles_wramp{
        clear: both;
        height: 38px;
    }
  
</style>

<form class="update_form clearfix overflowy" action="{:U('found')}" method="post" onsubmit="return Juuz.ajaxForm(this);">
<div style="padding:10px 20px 20px;" class="ui_col_24">

    <div class="mysql_table_wamp ui_col_24">
        <div class="mysql_table_wrmp">
            <div class="ui_col_24 mysql_table_title">
                <div class="ui_col_3" style="padding-left:5px">字段名</div>
                <div class="ui_col_10">自动验证</div>
                <div class="ui_col_8">自动完成</div>
                <div class="ui_col_2">操作</div>
            </div>
            <div class="mysql_table_titles_wramp">
                <div class="ui_col_24 mysql_table_titles" style="width: 1087px;">
                    <div class="ui_col_3" style="width:120px;padding-left:5px;">
                        <select name="data_type[]" class="" style="width:120px">
                            <option value="int" selected="selected">int</option>
                            <option value="tinyint">tinyint</option>
                            <option value="varchar">varchar</option>
                        </select>
                    </div>
                    <div class="ui_col_10">
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="1" name="bt" />必填
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="1" name="wy" />唯一
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="2" name="yx" />邮箱
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="3" name="sj" />手机
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="4" name="sz" />数字
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="5" name="url" />url
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="6" name="qq" />QQ
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="7" name="cd" />长度
                                </label>
                    </div>
                    <div class="ui_col_8">
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="1" name="tjsj" />添加时间
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="2" name="gxsj" />更新时间
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="3" name="tjip" />添加ip
                                </label>
                                <label class="ui_checkbox">
                                    <input type="checkbox" value="4" name="gxip" />更新ip
                                </label>
                    </div>
                    <div class="ui_col_2" style="padding-left:2px">
                        <button type="button" class="ui_button small ui_buttons button_a" >新 增</button>
                    </div>
                </div>
            </div>
        <!-- <div id='mysql_form_bottom'></div> -->
        </div>
    </div>

</div>
<div class="ui_pop_foot">
    <button type="submit" class="ui_button small mr10">保 存</button>
</div>

<script type="text/javascript">
    $(function(){
        $('.button_a').click(function(){
            var str  =  '<div class="mysql_table_titles_wramp">';
                    str  += '<div class="ui_col_24 mysql_table_titles" style="width: 1087px;">';
                        str += '<div class="ui_col_3" style="width:120px; padding-left:5px">';
                            str += '<input class="ui_text_input" type="text" name="field[]" value="" />';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<select name="data_type[]" class="">';
                                str += '<option value="int" selected="selected">int</option>';
                                str += '<option value="tinyint">tinyint</option>';
                                str += '<option value="varchar">varchar</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<input class="ui_text_input" type="text" name="field_length[]" />';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<input class="ui_text_input" type="text" name="field_default[]"/>';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<select name="primary_Key[]" class="">';
                                str += '<option value="0">否</option>';
                                str += '<option value="1">是</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<select name="non_empty[]" class="">';
                                str += '<option value="0">空</option>';
                                str += '<option value="1">非空</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<select name="unsigned[]" class="">';
                                str += '<option value="0">无符号</option>';
                                str += '<option value="1">有符号</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<select name="zero_padding[]" class="">';
                                str += '<option value="0">不填充</option>';
                                str += '<option value="1">零填充</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_2">';
                            str += '<select name="Increment[]" class="">';
                                str += '<option value="0">不自增</option>';
                                str += '<option value="1">自增</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_5">';
                            str += '<input class="ui_text_input" type="text" name="note[]"/>';
                        str += '</div>';
                        str += '<div class="ui_col_3" style="width:100px">';
                            str += '<select name="is_check" class="">';
                                str += '<option value="0">不需要</option>';
                                str += '<option value="1">需要</option>';
                            str += '</select>';
                        str += '</div>';
                        str += '<div class="ui_col_2" style="padding-left:2px">';
                            str += '<button type="button" class="ui_button small del" >删 除</button>';
                        str += '</div>';
                    str += '</div>';
                    str += '<div class="ui_col_24 ui_col_xuanzhe" style="border-bottom:1px solid #ddd;display:none;width:1085px">';
                        str += '<div style="width:660px;float:left;font-size:12px;">';
                            str += '<span>自动验证: </span>';
                            str += '<div style="float:left;width:360px">';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="1" name="Required[]" />必填';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="2" name="mailbox[]" />邮箱';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="3" name="phone[]" />手机';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="4" name="number[]" />整数';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="5" name="money[]" />金钱';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="6" name="ID_card[]" />身份证';
                            str += '</label>';
                            str += '</div>';
                            str += '<div style="width:240px;float:right" >';
                                str += '<input class="ui_text_input" type="text" name="" value="消息自定义,规则||提示" style="width:240px;" />';
                            str += '</div>';
                        str += '</div>';
                        str += '<div style="width:400px;float:right;font-size:12px;">';
                            str += '<span>自动完成: </span>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="1" name="addtime[]" />添加时间';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="2" name="uptime[]" />更新时间';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="3" name="addip[]" />添加IP';
                            str += '</label>';
                            str += '<label class="ui_checkbox">';
                                str += '<input type="checkbox" value="4" name="upip[]" />更新IP';
                            str += '</label>';
                        str += '</div>';
                str += '</div>';
                str += '</div>';
            $('.mysql_table_titles_wramp').last().parents('.mysql_table_wrmp').append(str);
            //$('.mysql_table_titles_wramp').last().clone().appendTo('.mysql_table_wrmp').find('input').val('');
            deltable();
        });
          
       
        function deltable()
        {
            $(".del").click(function(){
                $(this).parents('.mysql_table_titles_wramp').remove();
             }); 
        }


        $('select[name=is_check]').live('change',function(){
            var id = $(this).val();
            var str = $(this).parents('.mysql_table_titles').next('.ui_col_xuanzhe');
            if(id == 1){
                str.css('display','block');
            }else{
                 str.css('display','none');
            }
            

        });
    })
   
</script>

</form>
