<style>
    .update_pwd_form{
        padding-bottom:42px;
    }
    .ui_pop_foot{
        background-color:#F4F5F9;border-top:1px solid #ddd;text-align:right;
        position:absolute;padding:8px 0;bottom:0;left:0;width:100%;
    }
</style>
<form class="update_pwd_form clearfix" action="{:U('backup')}" method="post" onsubmit="return Juuz.ajaxForm(this);">
    <div class="ui_col_10" style="padding:10px 20px 20px">
        <div class="ui_col_10">
            <label class="ui_label">操作密码: </label>
            <input class="ui_text_input" value="" type="text" name="password" data-opt='{
            type : "require",
            msg : "请输入操作密码"
        }' />
        <span  style="color:red;line-height:30px;">为了您的数据库安全请输入操作密码!</span> 
        </div>
    </div>
    <div class="ui_pop_foot">
        <button type="submit" class="ui_button small mr10">确 认</button>
    </div>

</form>
